* {
    font-family: "Andale Mono", monospace;
}

body {
    margin: 0;
}

a {
    color: #41A4D3;
}

p {
    font-size: smaller;
    font-weight: lighter;
    color: gray;
}

small {
    font-size: small;
}

.header {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px) saturate(150%);
    box-shadow: 0px 0px 4px lightgray;
    width: 100%;
    position: sticky;
    top: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}

.input-text {
    font-size: x-large;
    color: gray;
    text-align: center;
    margin-left: 50%;
    border: none;
    background-color: transparent;
    width: 75%;
    transform: translateX(-50%);
    outline: none;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
}

.result-box {
    margin-bottom: 2%;
}

.btn-container {
    display: inline;
}

.proxy-btn {
    color: gray;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    margin-left: 1%;
    margin-right: 1%;
    transition: 0.2s ease-in-out;
}

.proxy-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.pg-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: gray;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    margin: 1%;
    transition: ease-in-out 0.2s;
}

.pg-btn:hover {
    border: 1px solid #41A4D3;  
}

.result-box {
    margin-top: 2%;
}

.title {
    margin: 0;
}
.footer {
    margin-left: 10%;
    margin-right: 10%;
}