* {
    font-family: "Andale Mono", monospace;
}

body {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
}

a {
    color: #41A4D3;
    text-decoration: underline;
}

p {
    font-size: smaller;
    font-weight: lighter;
    color: gray;
}

small {
    font-size: small;
}

.input-text {
    font-size: x-large;
    color: gray;
    text-align: center;
    margin: 5%;
    margin-left: 50%;
    padding: 2%;
    border: 2px solid transparent;
    background-color: transparent;
    width: 75%;
    transform: translateX(-50%);
    transition: ease-in-out 0.2s;
}

.input-text:focus {
    outline: none;
    border-bottom: 2px solid #41A4D3;
}

.result-box {
    margin-bottom: 5%;
}

.pg-btn-container {
    display: inline;
}

.pg-btn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: gray;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    margin: 1%;
    transition: ease-in-out 0.2s;
}

.pg-btn:hover {
    border: 1px solid #41A4D3;  
}

.result-box {
    margin: 2%;
}

.title {
    margin: 0;
}