* {
    font-family: "Andale Mono", monospace;
}

body {
    margin: 0;
}

a {
    color: #41A4D3;
    text-decoration: none;
}

p {
    font-size: smaller;
    font-weight: lighter;
    color: gray;
}

small {
    font-size: small;
}

.brand-name {
    width: 100%;
    margin-top: 15%;
    transform: translateY(-50%);
    text-align: center;
}

.header {
    position: sticky;
    top: 0;
}


input[type="radio"] {
    display: none;
}

input[type="radio"]+label:before {
    color: black;
    display: inline-block;
    width: 80px;
    height: 20px;
    margin: 0.5%;
    background-clip: content-box;
    background-color: #e7e6e7;
    border-radius: 24px;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked+label:before {
    color: white;
    background-color: #41A4D3;
}

#searchMark+label:before {
    content: "Search";
}

#imagesMark+label:before {
    content: "Images";
}

.input-text {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px) saturate(150%);
    box-shadow: 0px 0px 2px lightgray;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: x-large;
    color: gray;
    text-align: center;
    border: none;
    outline: none;
}

.input-text:focus {
    box-shadow: 0px 0px 8px lightgray;
}

.content {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.widgetContainer {
    float: right;
    width: 30%;
    margin: 2%;
}

.card {
    display: block;
    box-shadow: 0px 0px 2px lightgray;
    border-radius: 24px;
    margin: 1%;
    padding: 4%;
}

.card-img {
    margin: 2%;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
    object-fit: contain;
}

.result-box {
    width: 70%;
    margin-bottom: 2%;
}

.btn-container {
    display: inline;
}

.btn-row {
    margin-top: 1%;
    text-align: center;
}

.proxy-btn {
    color: gray;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    margin-left: 1%;
    margin-right: 1%;
    transition: 0.2s ease-in-out;
}

.proxy-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.pg-btn {
    width: fit-content;
    padding: 0.5%;
    background-color: white;
    color: gray;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    transition: ease-in-out 0.2s;
}

.pg-btn:hover {
    border: 1px solid #41A4D3;
}

.result-box {
    margin-top: 2%;
}

.title {
    margin: 0;
}

.footer {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}