<head>
    <title>ungoogled-search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<div class="header">
    <form method="POST" class="btn-container">    
        <input type="text" name="query" class="input-text" placeholder="Make a private search">
    </form>
    <div class="btn-row">
        <form method="POST" class="btn-container">    
            <button type="submit" class="pg-btn" name="mode" value="search">Search</button>
        </form>
        <form method="POST" class="btn-container">    
            <button type="submit" class="pg-btn" name="mode" value="images">Images</button>
        </form>
    </div>
</div>
