<head>
    <title>ungoogled-search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<div class="header">
    <form method="POST" class="btnContainer">    
        <input type="text" name="query" class="inputText" placeholder="Make a private search">
        <div class="btnRow">
            {% if mode == 'search' %}
                <span class="radio">
                    <input type="radio", id="searchMark" name="mode" value="search" checked="checked">
                    <label for="searchMark"></label>
                </span>
                <span class="radio">
                    <input type="radio", id="imagesMark" name="mode" value="images">
                    <label for="imagesMark"></label>
                </span>
            {% elif mode=='images' %}
                <span class="radio">
                    <input type="radio", id="searchMark" name="mode" value="search">
                    <label for="searchMark"></label>
                </span>
                <span class="radio">
                    <input type="radio", id="imagesMark" name="mode" value="images" checked="checked">
                    <label for="imagesMark"></label>
                </span>
            {% endif %}
        </div>
    </form>
</div>
